@font-face {
  font-family: FiraGO-400;
  src: url(./firago-latin-400-normal.woff);
}
@font-face {
  font-family: FiraGO-500;
  src: url(./firago-latin-500-normal.woff);
}
@font-face {
  font-family: FiraGO-700;
  src: url(./firago-latin-700-normal.woff);
}

body {
  font-family: FiraGO-400;
  color: rgba(26, 26, 31, 1);
  position: relative;
}
.arrow {
  position: absolute;
  top: 120px;
  left: 76px;
}
.underline {
  text-decoration: underline;
}

header {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid rgba(228, 227, 235, 1);
}
header img {
  margin: 28px auto;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.form {
  /* display: flex;
  flex-direction: column; */
}

form h1 {
  font-family: FiraGO-700;
  font-size: 32px;
  padding-bottom: 40px;
}
#drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(244, 243, 255, 1);
  padding: 48px 0;
  border-radius: 12px;
  margin-bottom: 24px;
}

.drop p {
  padding-top: 24px;
  font-family: FiraGO-500;
}

.author-header {
  display: flex;
  font-family: FiraGO-400;
  color: rgba(133, 133, 141, 1);
  font-size: 12px;
  line-height: 20px;
  gap: 24px;
  margin-bottom: 24px;
}

.descr,
label {
  font-family: FiraGO-500;
  font-size: 14px;
  color: rgba(26, 26, 31, 1);
}

textarea {
  width: 600px;
  height: 124px;
  border: 1px solid rgba(228, 227, 235, 1);
  border-radius: 12px;
  padding: 12px 16px;
  margin: 8px 0;
}

.description-min-symnol {
  color: rgba(133, 133, 141, 1);
  font-size: 12px;
}
.date-category {
  font-size: 14px;
  color: rgba(26, 26, 31, 1);
  font-family: FiraGO-400;
  margin: 24px 0;
}

.date-category {
  display: flex;
  gap: 24px;
  font-family: FiraGO-400;
}

.categor {
  font-size: 14px;
  color: rgba(133, 133, 141, 1);
}
.input {
  width: 288px;
  border-radius: 12px;
  border: 1px solid rgba(228, 227, 235, 1);
  padding: 12px 16px;
  margin-top: 8px;
}

form button {
  border-radius: 8px;
  border: none;
  font-family: FiraGO-500;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(228, 227, 235, 1);
  width: 288px;
  padding: 10px 0;
  margin: 40px 0 110px;
}

.button {
  text-align: right;
}
