@font-face {
  font-family: FiraGO-400;
  src: url(./Fonts/firago-latin-400-normal.woff);
}
@font-face {
  font-family: FiraGO-500;
  src: url(./Fonts/firago-latin-500-normal.woff);
}
@font-face {
  font-family: FiraGO-700;
  src: url(./Fonts/firago-latin-700-normal.woff);
}

* {
  font-family: FiraGO-400;
  color: rgba(26, 26, 31, 1);
}
body {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
}
.arrow {
  position: absolute;
  top: 120px;
  left: 76px;
}
.underline label {
  text-decoration: underline;
  font-family: FiraGO-700;
  font-size: 14px;
  cursor: pointer;
}
#fileList {
  margin-top: 5px;
}
#fileinfo {
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
}
.img-head {
  display: flex;
  align-items: center;
  gap: 12px;
}
header {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid rgba(228, 227, 235, 1);
}
header img {
  margin: 28px auto;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

form h1 {
  font-family: FiraGO-700;
  font-size: 32px;
  padding-bottom: 40px;
}
#drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: rgba(244, 243, 255, 1);
  padding: 48px 0;
  border-radius: 12px;
  margin-bottom: 24px;
}
#uploadedFile {
  display: none;
}
#fileinfo {
  width: 600px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(242, 242, 250, 1);
  margin: 8px 0 24px;
}
#fileName {
  font-size: 14px;
  font-family: FiraGO-500;
  text-align: left;
}
#deleteImage {
  cursor: pointer;
}
.drop p {
  padding-top: 24px;
  font-family: FiraGO-500;
}

.author-header {
  display: flex;
  font-family: FiraGO-400;
  color: rgba(133, 133, 141, 1);
  font-size: 12px;
  line-height: 20px;
  gap: 24px;
  margin-bottom: 24px;
}

.descr,
label {
  font-family: FiraGO-500;
  font-size: 14px;
  color: rgba(26, 26, 31, 1);
}

textarea {
  width: 600px;
  height: 124px;
  border: 1px solid rgba(228, 227, 235, 1);
  border-radius: 12px;
  padding: 12px 16px;
  margin: 8px 0;
  resize: none;
}

.description-min-symnol {
  color: rgba(133, 133, 141, 1);
  font-size: 12px;
}
.date-category {
  font-size: 14px;
  color: rgba(26, 26, 31, 1);
  font-family: FiraGO-400;
  margin: 24px 0;
}
#arrow-down {
  position: absolute;
  top: 38px;
  right: 25px;
  cursor: pointer;
}

.date-category {
  display: flex;
  gap: 24px;
  font-family: FiraGO-400;
}

.category {
  position: relative;
}
#category {
  height: 44px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px;
  width: 288px;
}
.input {
  width: 288px;
  border-radius: 12px;
  border: 1px solid rgba(228, 227, 235, 1);
  padding: 12px 16px;
  margin-top: 8px;
}

#category.input {
  /* padding: 5px 0 0 15px; */
  /* pointer-events: none; */
}
form button {
  border-radius: 8px;
  border: none;
  font-family: FiraGO-500;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(228, 227, 235, 1);
  width: 288px;
  padding: 10px 0;
  margin: 40px 0 110px;
  cursor: pointer;
}

.button {
  text-align: right;
}

.email-error {
  margin-top: 8px;
  width: 288px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  display: none;
}

.email-error img {
  width: 16px;
  height: 16px;
}

.email-error p {
  color: rgba(234, 25, 25, 1);
}

.nav {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(228, 227, 235, 1);
  border-radius: 12px;
  margin-top: 2px;
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  font-family: FiraGO-500;
  font-size: 12px;
  height: auto;
  max-width: 288px;
  justify-content: center;
}

.nav-items li {
  display: inline-block;
  border-radius: 30px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.nav-items li:hover {
  cursor: pointer;
}

.category img {
  cursor: pointer;
}
.category span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input:empty:before {
  content: attr(data-placeholder);
  color: rgba(133, 133, 141, 1);
  padding: 7px 0 0 10px;
}

.x {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 31, 0.24);
  z-index: 90;
  display: none;
}

.log-in-success {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 95;
  border-radius: 12px;
  display: none;
}
.log-in-success .success-png {
  max-width: 100%;
  width: 53px;
  height: 53px;
  margin: 69px auto 16px;
  border-radius: 50%;
  background-color: rgba(20, 216, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-success h1 {
  font-family: FiraGO-700;
  font-size: 20px;
}
.log-in-success button {
  font-family: FiraGO-500;
  font-size: 14px;
  width: 432px;
  height: 40px;
  background-color: rgba(93, 55, 243, 1);
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  margin: 48px 24px 40px;
  color: rgba(255, 255, 255, 1);
}

button {
  cursor: pointer;
}

#closeX {
  width: 24px;
  height: 24px;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
