@font-face {
  font-family: FiraGO-400;
  src: url(/assets/css/Fonts/firago-latin-400-normal.woff);
}
@font-face {
  font-family: FiraGO-500;
  src: url(/assets/css/Fonts/firago-latin-500-normal.woff);
}
@font-face {
  font-family: FiraGO-700;
  src: url(/assets/css/Fonts/firago-latin-700-normal.woff);
}
body {
  background-color: rgba(243, 242, 250, 1);
}

body {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
}
.arrow {
  position: absolute;
  top: 120px;
  left: 76px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 28px 75px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(228, 227, 235, 1);
  margin-bottom: 40px;
}
header button {
  background-color: rgba(93, 55, 243, 1);
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  font-family: FiraGO-500;
}

.main-blog {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: FiraGO-500;
  line-height: 28px;
  color: rgba(26, 26, 31, 1);
  max-width: 720px;
  height: 100%;
}

.main-blog img {
  max-width: 720px;
  width: 100%;
  margin-bottom: 40px;
  max-height: 400px;
}
#mainBlogDescr {
  max-height: 820px;
  overflow: auto;
}
.main-blog h6 {
  font-size: 12px;
  font-family: FiraGO-400;
  color: rgba(133, 133, 141, 1);
  margin: 0 0 24px;
}

.main-blog h1 {
  font-size: 32px;
  margin-bottom: 24px;
  font-family: FiraGO-700;
  line-height: 40px;
}

.main-blog .categories {
  max-width: 100%;
  max-height: 120px;
  align-items: center;
}
.main-blog .categories span {
  padding: 6px 10px;
  border-radius: 30px;
  background-color: rgba(0, 179, 255, 0.308);
  font-size: 12px;
  margin-right: 16px;
  cursor: pointer;
}

.main-blog p {
  color: rgba(64, 64, 73, 1);
  font-family: FiraGO-400;
  margin: 40px 0;
}
.blog .main-img {
  width: 100%;
}

.blogs {
  padding: 64px 76px 96px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 56px;
}

.blog .main-img {
  width: 100%;
  height: 50%;
}

.blog {
  font-family: FiraGO-500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(26, 26, 31, 1);
  text-align: left;
}

.blog h6 {
  font-size: 12px;
  font-family: FiraGO-400;
  color: rgba(133, 133, 141, 1);
}

.blog h1 {
  font-size: 20px;
  padding: 16px 0;
}
.exclamation {
  width: 20px;
  height: 20px;
}
.blog .categories {
  max-width: 488px;
}
.blog .categories span {
  padding: 6px 10px;
  border-radius: 30px;
  font-size: 12px;
  margin-right: 16px;
}
.blog .categories span:hover {
  cursor: pointer;
}
.blog p {
  color: rgba(64, 64, 73, 1);
  font-family: FiraGO-400;
  margin: 16px 0;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  text-decoration: none;
}
.blog a {
  font-size: 14px;
  color: rgba(93, 55, 243, 1);
}

.pointer:hover {
  cursor: pointer;
}

.more-blogs {
  margin: 0 76px;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.more h1 {
  font-size: 32px;
  font-family: FiraGO-700;
}
#arrowLeft,
#arrowRight {
  margin-right: 24px;
  cursor: pointer;
}

.log-in {
  font-family: FiraGO-500;
  font-size: 14px;
  color: rgba(26, 26, 31, 1);
  width: 480px;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 95;
  display: none;
}
.log-in h1 {
  margin: 0 auto;
}

.x {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FiraGO-700;
  font-size: 24px;
  padding-top: 40px;
}
.log-in input {
  padding: 12px 0 12px 16px;
  text-align: start;
  color: rgba(133, 133, 141, 1);
  border: 1.5px solid rgba(93, 55, 243, 1);
  border-radius: 12px;
  font-family: FiraGO-400;
}
.log-in button {
  color: #fff;
  padding: 10px 20px;
  background-color: rgba(93, 55, 243, 1);
  font-family: FiraGO-500;
  border-radius: 8px;
  border: none;
  margin: 24px 0 40px;
}
.input-text {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.input-p {
  margin-bottom: 8px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 31, 0.24);
  z-index: 90;
  display: none;
}
.error-p {
  color: rgba(234, 25, 25, 1);
  margin-top: 3px;
}

.error {
  display: flex;
  text-align: center;
  gap: 8px;
  margin-top: 8px;
  display: none;
}

.log-in-success {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 95;
  border-radius: 12px;
  display: none;
}
.log-in-success .success-png {
  max-width: 100%;
  width: 53px;
  height: 53px;
  margin: 69px auto 16px;
  border-radius: 50%;
  background-color: rgba(20, 216, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-success h1 {
  font-family: FiraGO-700;
  font-size: 20px;
}
.log-in-success button {
  font-family: FiraGO-500;
  font-size: 14px;
  width: 432px;
  height: 40px;
  background-color: rgba(93, 55, 243, 1);
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  margin: 48px 24px 40px;
  color: rgba(255, 255, 255, 1);
}

button {
  cursor: pointer;
}

#closeX {
  width: 24px;
  height: 24px;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

#addBlogButon {
  display: none;
}

.a-to-addBlog {
  display: none;
}
